{% extends 'base.html' %}

{% block title %}#Frukost &mdash; Image submitted by {{post.user.username }}{% endblock %}


{% block og_tags %}
<!-- Facebook Meta Tags -->
<meta content="https://msukwini.com/f/{{post.object_id}}" property="og:url">
<meta content="website" property="og:type">
<meta content="Image submitted by {{ post.user.username }}" property="og:title">

{% if post.caption %}
<meta content="{{post.caption}}" property="og:discription">
{% else %}
<meta content="Image submitted by {{ post.user.username }}" property="og:discription">
{% endif %}

<meta content="{{post.image.url}}" property="og:image">

<!-- Twitter Meta Tags -->
<meta content="summary_large_image" name="twitter:card">
<meta content="msukwini.com/f/{{post.object_id}}" property="twitter:domain">
<meta content="https://msukwini.com/f/{{post.object_id}}" property="twitter:url">
<meta content="{{post.title}}" name="twitter:title">
<meta content="{{post.image.url}}" property="twitter:image">

{% if post.caption %}
<meta content="{{post.caption}}" property="twitter:discription">
{% else %}
<meta content="Image submitted by {{ post.user.username }}" property="twitter:discription">
{% endif %}

{% endblock %}

{% block styles %}
<style>
    .post-image{
        width: 35%;

    }
</style>
{% endblock %}


{% block body %}
<div class="w-full justify-center mx-auto px-60">

    <div class="flex justify-center mt-10 rounded mb-5">
        <img class="post-image border-4 rounded border-black" src="{{ post.image.url }}"/>
    </div>

    <div class="mb-10 mt-24">
        <pre class="text-gray-500 text-normal whitespace-pre-wrap">{{ post.caption }}</pre>
        <h1 class="text-gray-700 text-normal mb-4">
            submitted by
            <a class="font-bold underline" href="{% url 'at-get-user' username=post.user.username %}">
                {{post.user.username}}
            </a>
        </h1>
    </div>

    <div class="flex justify-between mt-36">
        <div>
            <span class="text-gray-400 text-normal">Share: </span>
            <a class="text-gray-500 underline text-normal"
               href="https://twitter.com/intent/tweet?url=msukwini.com%2Ff%2F{{post.object_id}}&text=Image%20by%20{{post.user.username}}%20%23ViSpace"
               target="_blank">
                Twitter
            </a>
        </div>

        <div>
            <p id="copyright" class="text-gray-300 text-normal"></p>
            {% if not request.user == post.user %}
            <p class="text-gray-400 cursor-pointer text-normal underline">
                Report media
            </p>
            {% else %}
            <a class="text-gray-400 cursor-pointer text-normal underline"
               href="{% url 'posts:delete-post' post_id=post.object_id %}">
                delete post
            </a>
            {% endif %}
        </div>

    </div>
    {% include 'components/footer.html' %}
</div>
{% endblock %}

{% block scripts %}
<script>
    const date = new Date();
    document.querySelector("#copyright").innerHTML = `Copyright ${date.getFullYear()}. All rights reserved.`;
</script>
{% endblock %}