{% extends 'base.html' %}

{% block title %}Foxstraat - Submit{% endblock %}

{% block body %}
<div class="w-full justify-center mx-auto px-44">
    <h1 class="text-3xl text-center mt-10 mb-0 font-bold">Create new submission</h1>
    <div class="flex justify-center mb-10">

        <form action="{% url 'posts:create-post' %}" class="mt-7" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'components/messages.html' %}

            {% if form.errors %}
            <div class="mb-5">
                <span class="text-red-600">{{form.error_messages.invalid_login}}
                </span>
            </div>
            {% endif %}

            {% for hidden in post_form.hidden_fields %}
            {{ hidden }}
            {% endfor %}

            {% for field in post_form %}

            <label for="{{field.auto_id}}" class="text-black font-bold capitalize">
                {% if not field.html_name == "image" %}
                {{ field.html_name }}
                {% else %}
                Your post image
                {% endif %}
            </label>

            <p>{{field}}</p>
            {% endfor %}


            <div class="flex flex-row mt-10">
                <button class="bg-black text-white text-normal rounded font-extrabold px-5 py-2 mr-1"
                    type="submit">Submit this post</button>
                <span class="text-black text-normal px-2 py-2 mr-1">make sure you've read and understood the rules
                    before posting</span>
            </div>
        </form>
    </div>
    {% include 'components/footer.html' %}
</div>
{% endblock %}