<div class="gallery">

    {% for post in page_obj %}
    <div class="gallery-item" tabindex="0">

        <img src="{{post.image.url}}" class="gallery-image" alt="user submission post">

        <a href="{% url 'posts:get-post' post_id=post.object_id %}" class="gallery-item-link">
            <div class="gallery-item-info">
                <ul>
                    <li class="gallery-item-likes">{{post.title}}</li>
                </ul>
            </div>
        </a>

    </div>
    {% endfor %}


</div>