<div class="profile">

    <div class="profile-image">
        <img src="https://images.unsplash.com/photo-1513721032312-6a18a42c8763?w=152&h=152&fit=crop&crop=faces"
            alt="user profile photo" 
        />
    </div>

    <div class="profile-user-settings">
        <h1 class="profile-user-name">{{user.username}}</h1>
        {% if request.user.username == user.username %}
        <button class="btn profile-btn">Edit Profile</button>
        {% endif %}
    </div>

    {% if request.user.username == user.username %}
    <div class="profile-stats">
        <ul>
            <li><span class="profile-stat-count">{{user.num_posts}}</span> post{{user.num_posts|pluralize}}</li>
            <li><span class="profile-stat-count">{{ user.subscribers }}</span> friend{{ user.subscribers|pluralize }}</li>
        </ul>
    </div>
    {% endif %}

    <div class="profile-bio">
        <p>
            {% if user.display_name %}
            <span class="profile-real-name">{{user.display_name}}</span> <br>
            {% endif %}

            {% if user.bio %}
            {{user.bio}}
            {% endif %}
        </p>
    </div>

</div>