<div class="profile">

    <div class="profile-image">
        {% if user.profile_pic %}
        <img alt="user profile photo"
             src="{{user.profile_pic.url}}"
        />
        {% endif %}
    </div>

    <div class="profile-user-settings">
        <h1 class="profile-user-name">{{user.username}}</h1>
        {% if request.user.username == user.username %}
        <a class="btn profile-btn" href="{% url 'accounts:edit-user-profile' %}">Edit Profile</a>
        {% else %}
        <a class="btn profile-btn" href="{% url 'subscribe' %}">Subscribe</a>
        {% endif %}
    </div>

    {% if request.user.username == user.username %}
    <div class="profile-stats">
        <ul>
            <li><span class="profile-stat-count">{{user.num_posts}}</span> post{{user.num_posts|pluralize}}</li>
            <li>
                <span class="profile-stat-count">{{ user.subscribers }}</span> subscriber{{ user.subscribers|pluralize }}
            </li>
        </ul>
    </div>
    {% endif %}

    <div class="profile-bio">
        <p>
            {% if user.display_name %}
            <span class="profile-real-name">{{user.display_name}}</span> <br>
            {% endif %}

            {% if user.bio %}
            {{user.bio}}
            {% endif %}
        </p>
    </div>

</div>