<div class="gallery">

    {% for post in page_obj %}
    <div class="gallery-item" tabindex="0">

        <img alt="user submission post" class="gallery-image" src="{{post.image.url}}">

        <a class="gallery-item-link" href="{% url 'posts:get-post' post_id=post.object_id %}">
            <div class="gallery-item-info">
                <ul>
                    <li class="gallery-item-likes">{{post.title}}</li>
                </ul>
            </div>
        </a>

    </div>
    {% endfor %}


</div>