{% extends 'base.html' %}

{% block title %}Frukost &mdash; Payment{% endblock %}

{% block styles %}
<style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

</style>
{% endblock %}

{% block body %}
<div class="w-full justify-center mx-auto px-44">
    <h1 class="text-3xl text-center mt-16 mb-0 font-bold">Join our community and help support Frukost</h1>
    <h1 class="text-lg text-center mt-2 mb-0 font-bold">Only $2.99 a month, that's less than 10 cents a day. It's damn
        near free!</h1>
    <div class="flex justify-center mb-10">

        <form action="{% url 'accounts:upgrade' %}" class="mt-7" method="post">
            {% include 'components/messages.html' %}
            {% csrf_token %}
            <label class="text-black font-bold capitalize" for="card_number">
                Card number
            </label>
            <input class="w-full text-black px-3 py-2 mb-3 border-2 border-gray-300 rounded bg-white" id="card_number"
                   maxlength="16" name="card_number"
                   placeholder="Card number" required type="number"/>

            <div class="flex">
                <div class="mr-3">
                    <label class="text-black font-bold capitalize" for="expires">
                        Expires
                    </label>
                    <input class="w-full text-black px-3 py-2 mb-3 border-2 border-gray-300 rounded bg-white" id="expires"
                           maxlength="5" name="expires"
                           placeholder="MM/YY" required type="text"/>
                </div>

                <div>
                    <label class="text-black font-bold capitalize" for="cvc">
                        CVC
                    </label>
                    <input class="w-full text-black px-3 py-2 mb-3 border-2 border-gray-300 rounded bg-white" id="cvc"
                           maxlength="3" name="cvc"
                           placeholder="CVC" required type="number"/>
                </div>
            </div>
            <div class="flex flex-row">
                <button class="w-full bg-black text-white text-normal rounded font-extrabold px-5 py-4 mr-1"
                        type="submit">
                    Pay now
                </button>
            </div>
        </form>
    </div>
    {% include 'components/footer.html' %}
</div>
{% endblock %}