{% extends 'base.html' %}

{% block title %}Join Msukwini{% endblock %}

{% block body %}
<div class="w-full justify-center mx-auto px-44">
    <h1 class="text-2xl text-center mt-16 mb-0 font-bold">3 people joined our community today</h1>
    <div class="flex justify-center mb-10">
        <form action="{% url 'subscribe' %}" class="mt-7" method="post">
            {% include 'components/messages.html' %}

            {% csrf_token %}

            {% for field in form %}
            {% if not field.html_name == "password" %}
            <label for="{{field.auto_id}}" class="text-black font-bold capitalize">
                {% if field.html_name == "email" %}
                email address
                {% endif %}
            </label>
            {% endif %}

            <span class="text-red-600">{{field.errors}}</span>

            {% if not field.html_name == "password" %}
            <p>{{field}}</p>
            {% endif %}
            {% endfor %}

            <div>
                <button class="bg-black w-full text-white text-normal rounded font-extrabold px-5 py-3 mr-1 mb-3"
                    type="submit">
                    Join the Msukwini community
                </button>
                <span class="text-black">
                    Why isn't Msukwini free?
                    <a href="https://nomadlist.com/faq#free" target="_blank" class="font-bold underline">See...</a>
                </span>
            </div>
        </form>
    </div>
    <div class="mx-80 justify-center mb-10 cursor-pointer">
        <p class="font-bold mb-1">What you get for only $2.99 a month</p>

        <div class="flex border-2 border-gray-300 p-5 hover:bg-gray-200 bg-gray-100">
            <p class="text-black font-extrabold text-xl ml-3">
                Join a global community of 256 people sharing and growing a platform of creativity, free from negativity
            </p>
        </div>

        <div class="flex border-2 border-gray-300 p-5 hover:bg-gray-200 bg-gray-100">
            <p class="text-black font-extrabold text-xl ml-3">
                Get access to Msukwini Communities (social networks within Msukwini, each with their own
                focused topics and themes)
            </p>
        </div>
        
        <div class="flex border-2 border-gray-300 p-5 hover:bg-gray-200 bg-gray-100">
            <p class="text-black font-extrabold text-xl ml-3">
                You will be able to subscribe to your favourite accounts and be kept up-to-date with all their latest submissions
            </p>
        </div>

        <div class="flex border-2 border-gray-300 p-5 hover:bg-gray-200 bg-gray-100">
            <p class="text-black font-extrabold text-xl ml-3">
                Try something new by participating in our weekly photo challenges
            </p>
        </div>

        <div class="flex border-2 border-gray-300 p-5 hover:bg-gray-200 bg-gray-100">
            <p class="text-black font-extrabold text-xl ml-3">
                You will also get a verified supporter badge on your Msukwini profile
            </p>
        </div>


    </div>
    {% include 'components/footer.html' %}
</div>
{% endblock %}