{% extends 'base.html' %}

{% block title %}Explore and join your favourite communities{% endblock %}


{% block og_tags %}
<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://msukwini.com/">
<meta property="og:type" content="website">
<meta property="og:title" content="ViSpace">
<meta property="og:discription" content="A hangout for the based. ViSpace is photo sharing website inspired by early 2000s level of customisability, creativity, and authentic freedom of expression.">
<meta property="og:image" content="https://i.pinimg.com/originals/4a/f2/53/4af253df2280a455bf306d762f4be08e.jpg">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="msukwini.com">
<meta property="twitter:url" content="https://msukwini.com/">
<meta name="twitter:title" content="ViSpace">
<meta name="twitter:image" content="https://i.pinimg.com/originals/4a/f2/53/4af253df2280a455bf306d762f4be08e.jpg">
<meta property="twitter:discription" content="A hangout for the based. ViSpace is photo sharing website inspired by early 2000s level of customisability, creativity, and authentic freedom of expression.">
{% endblock %}


{% block styles %}
<style>
    .masonry {
        column-count: 3;
        column-gap: 2rem;
    }

    .overlay {
        background: linear-gradient(0deg, black, transparent);
    }
</style>
{% endblock %}

{% block body %}
<div class="w-full  mx-auto px-44">
    <h1 class="text-3xl text-center font-bold mt-16 mb-0">How do they work?</h1>
    <h1 class="text-lg text-center mt-2 mb-0 font-bold">
        Channels are sections within ViSpace, dedicated to a variety of topics, from travel to videogames, music, and food.
        Members can share images with their favourite channel. So find one that interests you and start exploring!
    </h1>
    <div class="mt-7">
        {% include 'components/messages.html' %}
        <div class="masonry px-16 py-8">
            <div class="mb-8">
                {% for post in posts %}
                {% include 'components/posts/community.html' %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="flex justify-center mt-4 mb-5">
        <div class="flex justify-center mb-16">
            <a href="{% url 'subscribe' %}" class="bg-black text-white text-sm rounded font-bold px-4 py-3 mr-1">
                load more
            </a>
        </div>
    </div>

    {% include 'components/footer.html' %}
</div>
{% endblock %}