{% extends 'base.html' %}

{% block title %}Top submissions across ViSpace{% endblock %}

{% block og_tags %}
<!-- Facebook Meta Tags -->
<meta content="https://msukwini.com/" property="og:url">
<meta content="website" property="og:type">
<meta content="ViSpace" property="og:title">
<meta content="A hangout for the based. ViSpace is photo sharing website inspired by early 2000s level of customisability, creativity, and authentic freedom of expression."
      property="og:discription">
<meta content="https://i.pinimg.com/originals/4a/f2/53/4af253df2280a455bf306d762f4be08e.jpg" property="og:image">

<!-- Twitter Meta Tags -->
<meta content="summary_large_image" name="twitter:card">
<meta content="msukwini.com" property="twitter:domain">
<meta content="https://msukwini.com/" property="twitter:url">
<meta content="ViSpace" name="twitter:title">
<meta content="https://i.pinimg.com/originals/4a/f2/53/4af253df2280a455bf306d762f4be08e.jpg" name="twitter:image">
<meta content="A hangout for the based. ViSpace is photo sharing website inspired by early 2000s level of customisability, creativity, and authentic freedom of expression."
      property="twitter:discription">
{% endblock %}


{% block styles %}
<style>
    .masonry {
        column-count: 4;
        column-gap: 4rem;
    }

    .overlay {
        background: linear-gradient(0deg, black, transparent);
    }

</style>
{% endblock %}

{% block body %}
<div class="w-full  mx-auto px-24">
    <h1 class="text-lg font-bold text-center mt-20 mb-0 italic">ViSpace &mdash; A project of liberty</h1>
    <div class="mt-7">
        {% include 'components/messages.html' %}
        <div class="masonry px-16 py-8">
            <div class="mb-8 infinite-container">
                {% for post in page_obj %}
                {% include 'components/posts/post_item.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% include 'components/infinite_scroll_fetch.html' %}
    {% include 'components/footer.html' %}
</div>
{% endblock %}
