{% extends 'base.html' %}

{% block title %}Foxstraat &mdash; {{ heading }}{% endblock %}

{% block og_tags %}
<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://msukwini.com/">
<meta property="og:type" content="website">
<meta property="og:title" content="Msukwini">
<meta property="og:discription"
    content="A hangout for the based. Msukwini is photo sharing website inspired by early 2000s level of customisability, creativity, and authentic freedom of expression.">
<meta property="og:image" content="https://i.pinimg.com/originals/4a/f2/53/4af253df2280a455bf306d762f4be08e.jpg">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="msukwini.com">
<meta property="twitter:url" content="https://msukwini.com/">
<meta name="twitter:title" content="Msukwini">
<meta name="twitter:image" content="https://i.pinimg.com/originals/4a/f2/53/4af253df2280a455bf306d762f4be08e.jpg">
<meta property="twitter:discription"
    content="A hangout for the based. Msukwini is photo sharing website inspired by early 2000s level of customisability, creativity, and authentic freedom of expression.">
{% endblock %}

{% block body %}
<div class="w-full justify-center mx-auto px-44">
    <h1 class="text-3xl text-center mt-16 mb-5 font-bold">{{ heading }}</h1>
    <div class="flex justify-center mb-10">
        <div class="mx-24 text-black text-lg font-normal">
            <p>
                To protect all users on Msukwini and to prevent spam, we put some rules in place. Please read them
                carefully and remember them whenever you are posting something on Msukwini or you are changing your
                Profile.
            </p>
            <p class="font-bold my-4">
                Safety
            </p>
            <p>
                You are not allowed to display, share or promote any form of
                Violence,
                Abuse,
                Harassment,
                Hateful speech,
                Harmful content (including self-harm and suicidal content), or
                Illegal/unlawful content
            </p>
            <p class="font-bold my-4">
                Nudity
            </p>
            <p>
                Because Msukwini is a place to express yourself freely, you are allowed to post nudity on the platform.
                We do, however, reserve the right to remove content that contains explicit sex and/or is pornographic in
                nature, at our own discretion.
            </p>
            <p class="font-bold my-4">
                Spam
            </p>
            <p>
                You are not allowed to use Msukwini as a platform to
                Manipulate other users,
                Create a large amount of Accounts,
                Share excessive amounts of content of any type ("Spam").
                <br>
                If your account got suspended, you are not allowed to create any new accounts.
            </p>
            <p class="font-bold my-4">
                Impersonation
            </p>
            <p>
                You are not allowed to impersonate other people on Msukwini.
            </p>
            <p>
                We understand that some of you like to create Profiles with the names of popular persons as a parody. If
                you do something like this, please use the "bio" section on your Profile to inform other users that
                your Account is a parody account. You must do this in a way which can be easily seen and understood by
                other users.
            </p>
            <p class="font-bold my-4">
                Copyright and Trademarks
            </p>
            <p>
                You are not allowed to violate any intellectual property rights, including copyright and trademark, of
                others.
            </p>
        </div>
    </div>
    {% include 'components/footer.html' %}
</div>
{% endblock %}