{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.display_name}}</title>

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="{% static 'assets/icons/apple-touch-icon.png' %}">
    <link rel="shortcut icon" href="{% static 'assets/favicon.ico' %}" type="image/x-icon">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://msukwini.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ user.username }}">

    {% if user.bio %}
    <meta property="og:discription" content="{{ user.bio }}">
    {% else %}
    <meta property="og:discription"
        content="A hangout for the based. Msukwini is photo sharing website inspired by early 2000s level of customisability, creativity, and authentic freedom of expression.">
    {% endif %}

    {% if user.profile_pic %}
    <meta property="og:image" content="{{ user.profile_pic.url }}">
    {% else %}
    <meta property="og:image" content="https://i.pinimg.com/originals/4a/f2/53/4af253df2280a455bf306d762f4be08e.jpg">
    {% endif %}

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="msukwini.com">
    <meta property="twitter:url" content="https://msukwini.com/">
    <meta name="twitter:title" content="{{user.username}}">

    {% if user.profile_pic %}
    <meta property="twitter:image" content="{{ user.profile_pic.url }}">
    {% else %}
    <meta property="twitter:image" content="https://i.pinimg.com/originals/4a/f2/53/4af253df2280a455bf306d762f4be08e.jpg">
    {% endif %}

    {% if user.bio %}
    <meta property="twitter:discription" content="{{ user.bio }}">
    {% else %}
    <meta property="twitter:discription"
        content="A hangout for the based. Msukwini is photo sharing website inspired by early 2000s level of customisability, creativity, and authentic freedom of expression.">
    {% endif %}

    <style>
        .flex {
            display: flex;
        }

        .justify-center {
            justify-content: center;
        }

        .mb-10 {
            margin-bottom: 6rem;
        }

        .mr-5 {
            margin-right: 10px;
        }

        .my-12 {
            margin-top: 12px;
            margin-bottom: 12px;
        }

        .mx-7 {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YRFQFQ1DHY"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-YRFQFQ1DHY');
    </script>
</head>

<body>
    {% if user.custom_html %}
    {{user.custom_html|safe}}
    {% else %}
    {{user.default_html|safe}}
    {% endif %}

    {% include 'components/logo.html' %}
    <header>

        <div class="container">
            {% include 'components/user_profile/profile-info.html' %}
        </div>
    </header>

    <main>
        <div class="container">
            {% include 'components/user_profile/gallery.html' %}
        </div>
        {% include 'components/infinite_scroll_fetch.html' %}
    </main>
</body>

</html>