<div class="flex justify-center mt-36 mb-5">
    <a title="DM me on Instagram" rel="noopener noreferrer" target="_blank" class="underline mx-3"
        href="https://instagram.com/kelodraken/">
        Instagram
    </a>
    <a title="Follow me on Twitter" rel="noopener noreferrer" target="_blank" class="underline mx-3"
        href="https://twitter.com/intent/follow?screen_name=KeloDraken&tw_p=followbutton">
        Twitter
    </a>
    <a title="Our privacy policy" rel="noopener noreferrer" target="_blank" class="underline mx-3"
        href="https://www.privacypolicygenerator.info/live.php?token=xgcgZMuazubOZf7LYkgHXI0xum9RLVcd">
        Privacy
    </a>
    <a title="Site rules" class="underline mx-3"
        href="{% url 'rules' %}">
        Rules
    </a>
</div>
<div class="flex justify-center mb-16">
    <p title="Ett projekt av Samkelo Drakensburg" class="mx-3 text-gray-500">
        made with ❤️ in Gothenburg
    </p>
</div>