<div class="flex justify-center mt-36 mb-5">
    <a class="underline mx-3" href="https://instagram.com/kelodraken/" rel="noopener noreferrer" target="_blank"
       title="DM me on Instagram">
        Instagram
    </a>
    <a class="underline mx-3" href="https://twitter.com/intent/follow?screen_name=KeloDraken&tw_p=followbutton" rel="noopener noreferrer" target="_blank"
       title="Follow me on Twitter">
        Twitter
    </a>
    <a class="underline mx-3" href="https://www.privacypolicygenerator.info/live.php?token=xgcgZMuazubOZf7LYkgHXI0xum9RLVcd" rel="noopener noreferrer" target="_blank"
       title="Our privacy policy">
        Privacy
    </a>
    <a class="underline mx-3" href="{% url 'rules' %}"
       title="Site rules">
        Rules
    </a>
</div>
<div class="flex justify-center mb-16">
    <p class="mx-3 text-gray-500" title="Ett projekt av Samkelo Drakensberg">
        made with ❤️
    </p>
</div>