{% extends 'base.html' %}

{% block title %}{{post.title}}{% endblock %}

{% block body %}
<div class="w-full justify-center mx-auto px-60">
    <h1 class="text-3xl text-center mt-16 mb-7 font-bold">{{post.title}}</h1>
    
    <div class="flex justify-center mb-5">
        <img src="{{ post.image.url }}" class="object-contain" />
    </div>
    
    <h1 class="text-normal text-center mb-4">
        submitted by 
        <a class="font-bold underline" href="{% url 'accounts:get-user-profile' username=post.user.username %}">
            {{post.user.username}}
        </a> |
       <span class="text-sm font-bold text-gray-500"> {{ post.datetime_created|timesince }} ago</span>
    </h1>
    <div class="mb-10">
        <pre class="text-black text-lg font-bold whitespace-pre-wrap">{{ post.caption }}</pre>
    </div>
    {% include 'components/footer.html' %}
</div>
{% endblock %}