<style>
    @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
    .logo { font-family: 'Lobster', cursive; }
</style>

<div class="sticky backdrop-filter backdrop-blur-xl bg-white bg-opacity-50 top-0 z-50">
    <nav class="flex flex-row py-1">
        <div class="my-2 ml-14 flex flex-row">
            <h1 class="text-gray-800 uppercase mx-2 font-black">pricing</h1>
            <h1 class="text-gray-800 uppercase mx-2 font-black">about</h1>
        </div>

        <a href="{% url 'posts:frontpage' %}" class="mx-auto black logo text-3xl" title="Ett projekt av Samkelo Drackner">Frukost</a>

        <div class="my-2 mx-24">
            <a title="Publications" class="material-icons-outlined text-gray-800 uppercase mx-2 font-black">
                library_books
            </a>
            <a title="Discover" class="material-icons-outlined text-gray-800 uppercase mx-2 font-black">
                explore
            </a>

            {% if request.user.is_authenticated %}
            <a href="{% url 'at-get-user' username=request.user.username %}" title="your account" class="material-icons-outlined text-gray-800 uppercase mx-2 font-black">
                account_circle
            </a>
            {% else %}
            <a href="{% url 'accounts:user-login' %}" title="your account" class="material-icons-outlined text-gray-800 uppercase mx-2 font-black">
                account_circle
            </a>
            {% endif %}
        </div>
    </nav>
</div>