{% extends 'base.html' %}

{% block title %}#Frukost &mdash; Front page{% endblock %}

{% block styles %}
<style>
    img {
      object-fit: cover;
      width: 100%;
      height: 24rem;
    }

</style>
{% endblock %}

{% block body %}
<div class="mx-16 my-24">
    <h1 class="font-black text-4xl">For you</h1>
    <h2 class="text-base">The best of everything you follow</h2>
</div>

<div class="overflow-hidden">
    <div class="flex flex-wrap -m-1 md:-m-2">
        {% for post in page_obj %}
        <div class="flex flex-wrap w-1/3">
            <div class="w-full h-1/3 overwrap-hidden">
                <img alt="gallery" class="block object-cover object-center"
                     src="{{ post.image.url }}">
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}