{% extends 'base.html' %}

{% block title %}#Frukost &mdash; Frontpage{% endblock %}

{% block styles %}
<style>
    img {
      object-fit: cover;
      width: 100%;
      height: 24rem;
    }

</style>
{% endblock %}

{% block body %}
<div class="mx-16 my-24">
    <h1 class="font-black text-6xl pt-3" id="page-title"></h1>
    <h2 class="text-xl font-bold mt-1">Top submissions of the day</h2>
</div>

<div class="overflow-hidden">
    <div class="flex flex-wrap -m-1 mx-2">
        {% for post in page_obj %}
        <div class="relative flex flex-wrap w-1/4">
            <div class="w-full h-1/4 overwrap-hidden m-2">
                <img alt="gallery" class="border-4 border-black rounded block object-cover object-center"
                     src="{{ post.image.url }}">
            </div>
            <a href="">
                <div class="w-full absolute bottom-0">
                    <h1 class="w-full px-5 py-6 text-white text-lg">{{ post.title }}</h1>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    const months = [
        "January", "February",
        "March", "April", "May",
        "June", "July", "August",
        "September", "October",
        "November", "December"
    ];
    const date = new Date();
    document.getElementById("page-title").innerHTML = date.getDate().toString() + " " + months[date.getMonth()] + " " + date.getFullYear()


</script>
{% endblock %}
