{% extends 'base.html' %}
{% load static %}

{% block title %}Edit profile{% endblock %}

{% block styles %}
<style>
    .profile-picker {
        display: none;
    }
    .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
</style>
{% endblock %}

{% block body %}
<div class="w-full justify-center mx-auto px-44">
    <h1 class="text-3xl text-center mt-16 mb-0 font-bold">Update your Frukost profile</h1>
    <div class="flex justify-center mb-10">
        <form action="{% url 'accounts:edit-user-profile' %}" class="mt-7" enctype="multipart/form-data" method="post">
            {% include 'components/messages.html' %}

            {% csrf_token %}

            <label id="image-selector" class="bg-gray-200 w-full px-3 py-2 cursor-pointer rounded" for="selected-image">Click to select a new profile picture</label>

            {% for field in edit_profile_form %}
            {% if not field.html_name == "password" and not field.html_name == "profile_pic" %}
            <label class="text-black font-bold capitalize" for="{{field.auto_id}}">
                {% if field.html_name == "display_name" %}
                <br>
                Display name
                {% elif field.html_name == "custom_html" %}
                Custom styles
                {% else %}
                {{ field.html_name }}
                {% endif %}
            </label>
            {% endif %}

            <span class="text-red-600">{{field.errors}}</span>

            {% if not field.html_name == "password" %}
            <p>{{field}}</p>
            {% endif %}
            {% endfor %}

            <label class="text-black font-bold capitalize" for="text-colour">Profile text colour</label>
            <input type="hidden" name="text-colour" id="text-field" value="{{ user.profile_text_colour }}">
            <div class="bg-gray-200 w-full px-3 py-2 cursor-pointer rounded" id="text-colour">
                Click to change text colour
            </div>

            <label class="text-black font-bold capitalize" for="bg-colour">Profile background colour</label>
            <input type="hidden" name="bg-colour" id="bg-field" value="{{ user.profile_bg_colour }}">
            <div class="bg-gray-200 w-full px-3 py-2 mb-7 cursor-pointer rounded" id="bg-colour">
                Click to change background colour
            </div>

            <label class="text-black font-bold capitalize" for="profile-preview">This is how your profile will
                look</label>
            <div class="font-bold px-4 py-4 mb-6 text-xl rounded" id="profile-preview">
                Text preview
            </div>

            <div class="flex">
                <button class="bg-black text-white text-normal rounded font-extrabold px-5 py-2 mr-1 mt-3"
                        type="submit">Save
                    changes
                </button>
                <a class="text-black text-normal px-2 py-2 mr-1  mt-3 underline"
                   href="{% url 'accounts:user-logout' %}">or
                    sign out</a>
            </div>
        </form>
    </div>

    <div class="flex justify-center mb-10">
        <div class="w-full text-black px-3 py-5 mb-3 border-4 border-red-500 rounded bg-red-300">
            <h5 class="text-black text-2xl font-bold text-center">Dangerzone</h5>

            <ul class="text-black text-left font-bold mb-5">
                deleting your account will
                <li>
                    i. permanently remove your access to the site.
                </li>
                <li>
                    ii. put your username in `reserved` status, meaning that you or anyone else wishing to use it will
                    need to contact support.
                </li>
                <li>
                    iii. not delete any of your posts. you need to manually delete them yourself
                    before deleting your account.
                </li>
            </ul>

            <a class="bg-black text-white text-lg rounded font-bold px-4 py-3 mr-1 mb-3"
               href="{% url 'accounts:delete-user' %}"
               id="delete-account">
                delete account
            </a>
        </div>
    </div>
    {% include 'components/footer.html' %}
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/vanilla-picker.min.js' %}"></script>
<script>
    function imageSelected(){
        document.getElementById("image-selector").innerHTML = "Your image has been selected";
    }
</script>
<script>
    var previewText = document.getElementById("profile-preview");
    previewText.style.color = document.getElementById("text-field").value;
    previewText.style.background = document.getElementById("bg-field").value;

    //////////////////////////////////

    var text = document.querySelector('#text-colour');
    var textPicker = new Picker(text);

    textPicker.onChange = function(color) {
        document.getElementById("text-field").value = color.hex;
        previewText.style.color = color.hex;
    };

    textPicker.onDone = function(color) {
        document.getElementById("text-field").value = color.hex;
        previewText.style.color = color.hex;
    }

    ///////////////////////////////////////////

    var bg = document.querySelector('#bg-colour');
    var bgPicker = new Picker(bg);

    bgPicker.onChange = function(color) {
        document.getElementById("bg-field").value = color.hex;
        previewText.style.background = color.hex;
    };

    bgPicker.onDone = function(color) {
        document.getElementById("bg-field").value = color.hex;
        previewText.style.background = color.hex;
    }
</script>
{% endblock %}